.random-drink-parent {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.random-drink {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  align-items: baseline;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}
